body{
  text-align: center;
}
div{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  align-content: center;
  font-weight: 800;
  font-size: 1.5rem;
  border-radius: 15px;
  transition: all 300ms;
}

div:active{
  display: inline-block;
  border: solid 3px #FFFFFF;
  color: #FFFFFF;
  background-color: #FFFFFF;
  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  align-content: center;
  font-weight: 800;
  font-size: 1.5rem;
  border-radius: 15px;
}

h1{
  display: inline-block;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 15px;
  transition: all 300ms;
}
h1:active{
  display: inline-block;
  font-size: 20px;
  padding: 5px 15px;
border-radius: 15px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  
}
